.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* added css to style */


.header {
  background-color: #02366c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16pt;
  color: white; 
  padding: 10px;
}


.evidence {
  font-family: 'Courier New', Courier, monospace;
  background-color: #7dcde2;
  font-weight: bold;
}

.grid {
  padding: 25px;
  flex-wrap: wrap;

}

.card {
  margin: 20px;
  /* padding: 10px; */
  flex-wrap: wrap;

}

.desc-info, .sol-info {
  background-color: #7dcde2;
  color: black;
  padding: 20px;
}

.accordion {
  margin-top: -30px;
}

.accord-desc, .accord-sol, .accord-evidence {
  font-weight: bold;
}